<div class="container w-25 mt-5">
  <form [formGroup]="contactForm" (submit)="enviar($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email: </label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            hasErrors('email', 'required') || hasErrors('email', 'email')
        }"
      />
      @if (hasErrors('email', 'required')) {
      <span class="text-danger">Este campo es requerido</span>
      } @if (hasErrors('email', 'email')) {
      <span class="text-danger">Este campo es inválido</span>
      }
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje</label>
      <textarea
        type="text"
        class="form-control"
        id="message"
        formControlName="message"
        [ngClass]="{
          ' ':
            hasErrors('message', 'required') ||
            hasErrors('message', 'minlength')
        }"
      ></textarea>

      @if (hasErrors('message', 'required')) {

      <span class="text-danger">Este campo es requerido</span>
      } @if (hasErrors('message', 'minlength')) {
      <span class="text-danger">Debes escribir al menos 10 caracteres</span>
      }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
