@if(loading){
<h4 class="">Cargando...</h4>
} @if(!loading){
<div class="container d-flex mt-5">
  <img
    src="{{ product?.image }}"
    alt="{{ product?.title }}"
    class="object-fit-contain w-25"
  />
  <div class="px-5">
    <h2>{{ product?.title }}</h2>
    <b>{{ product?.category }}</b>
    <p>{{ product?.description }}</p>
    <p>{{ product?.price | currency }}</p>
  </div>
</div>
}
