<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      @for (producto of productos; track producto.id) {
      <tr class="">
        <th scope="row">{{ producto.id }}</th>
        <td>{{ producto.title }}</td>
        <td>{{ producto.description }}</td>
        <td>{{ producto.price }}</td>
        <td>
          <button
            class="btn btn-outline-success"
            (click)="navigate(producto.id)"
          >
            Detalle
          </button>
        </td>
      </tr>
      } @empty {
      <h3 class="mt-4 text-center">Cargando productos...</h3>
      }
    </tbody>
  </table>
</div>
