<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi tiendita</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink=""
            [ngClass]="{ active: menuSelect == 'home' }"
            (click)="onOption('home')"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="products"
            [ngClass]="{ active: menuSelect == 'products' }"
            (click)="onOption('products')"
            >Productos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contact"
            [ngClass]="{ active: menuSelect == 'contact' }"
            (click)="onOption('contact')"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />

<footer class="text-center position-bottom w-100 bottom-0 bg-white pt-3">
  <p>&copy; 2024 Tienda Online</p>
</footer>
