.background-image {
  background-image: url("../../../assets/fondo.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opacity-hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.opacity-hover:hover {
  opacity: 0.9;
}
