<div class="background-image">
  <div
    class="container mt-5 col-12 d-flex flex-column justify-content-end align-items-end"
  >
    <section class="p-4 mb-4 bg-light rounded opacity-hover col-7 flex">
      <h1 class="text-dark">Bienvenido a nuestra tiendita</h1>
      <h3 class="text-center mt-4 text-primary">
        Encuentra los mejores productos al mejor precio
      </h3>
    </section>

    <section class="p-4 mb-4 bg-white rounded opacity-hover">
      <h2 class="mb-4 fw-bold">Sobre nosotros</h2>
      <p class="fs-5 text-center">
        Somos una tienda comprometida en ofrecerte productos de calidad y un
        excelente servicio al cliente. Nos especializamos en una amplia gama de
        productos, desde tecnología hasta moda y artículos para el hogar.
        Nuestro objetivo es satisfacer las necesidades de nuestros clientes
        proporcionando productos que destacan por su calidad y funcionalidad.
      </p>
    </section>
  </div>
</div>
